/**************Partie de la grille***********/

.A1, .A2, .B1, .B2, .C1, .C2, .D {
  display: flex;
  flex-direction: column;
}

.A1 {
  grid-area: A1;
  width: 71%;
  margin-left: 3em;
}

.A2 {
  grid-area: A2;
  width: 71%;
}

.B1 {
  grid-area: B1;
  width: 71%;
  margin-left: 3em;
}

.B2 {
  grid-area: B2;
  width: 71%;
}

.C1 {
  grid-area: C1;
  width: 71%;
  margin-left: 3em;
}

.C2 {
  grid-area: C2;
  width: 71%;
}

.D {
  grid-area: D;
  width: 50%;
  margin: 0 auto 10px auto;
  margin-bottom: 10px;
}

.EN {
  grid-area: EN;
  width: 71%;
  margin-left: 3em;
}

.RE {
  grid-area: RE;
  width: 71%;
}

.A1 input,
.A2 input,
.B1 input,
.B2 input,
.C1 input,
.C2 input {
  width: 65%;
}

.container {
  display: grid;
  grid-template-areas: 'A1 A2' 'B1 B2' 'C1 C2' 'D D' 'EN RE';
  grid-gap: 10px;
  padding: 10px;
  overflow: auto;
}

.container::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;

  width: 100%;
  height: 100%;
}

.container>div {
  background: lightcyan;
  padding: 10px;
  justify-content: center;
  display: flex;
  opacity: 0.8;
}

.container .A1:hover,
.container .A2:hover,
.container .B1:hover,
.container .B2:hover,
.container .C1:hover,
.container .C2:hover,
.container .D:hover,
.container .RE:hover,
.container .EN:hover {
  opacity: 1;
}


/********Partie Icone Formulaire********/

div {
  margin-bottom: 10px;
  position: relative;
  border-radius: 0.25em;
}

input[type="number"] {
  width: 100px;
}

input+span {
  padding-right: 30px;
}

input:invalid+span:after {
  position: absolute;
  content: '✖';
  padding-left: 5px;
  color: #8b0000;
}

input:valid+span:after {
  position: absolute;
  content: '✓';
  padding-left: 5px;
  color: #009000;
}

button[type="submit"], button[type="reset"] {
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 7px;
  background-color: #111827;
  color: white;
  font-weight: bold;
  transition: 0.2s;
}

button[type="submit"]:hover, button[type="reset"]:hover {
  cursor: pointer;
  background-color: #3b82f6;
}

#otherValue {
  display: none;
}

#other:checked~#otherValue {
  display: inline-block;
}

@media screen and (max-width: 576px) {
  .container {
    grid-template-areas: 'A1 A1' 'A2 A2' 'B1 B1' 'B2 B2' 'C1 C1' 'C2 C2' 'D D' 'EN RE';
  }

  .A1, .A2, .B1, .B2, .C1, .C2, .D, .EN, .RE {
    margin: 0;
  }
}