.jeux {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  text-align: center;
  background: rgba(208, 211, 212, 1);
  width: 20%;
  border-radius: 10px;
  margin-left: 77%;
  margin-top: 50px;
  visibility: hidden;
}

li {
  list-style-type: none;
}

li:nth-child(1) {
  margin-bottom: 20px;
}

i[class="fa-solid fa-angle-down"] {
  font-size: 56px;
  color: white; 
}

#Arrows {
  margin-left: 87%;
}

#ensemble {
  padding: 1em;
}

#button1 {
  height: 100px;
  width: 300px;
  border: none;
  border-radius: 7px;
  background-color: #111827;
  font-size: 20px;
  color: white;
  font-weight: bold;
  transition: 0.2s;
  margin-top: -20%;
}

#button1:hover, #button2:hover {
  cursor: pointer;
  background-color: #3b82f6;
}

#button2 {
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 7px;
  background-color: #111827;
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin: 0 auto;
  transition: 0.2s;
}

@media screen and (max-width: 576px) {
  main {
    flex-direction: column-reverse;
  }

  #Arrows {
    display: none;
  }
  
  ul {
    display: none;
  }
}